* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

@include reset();

.debug {
    z-index: 999999;
    @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

.container {
    @include wrapper();
}

html {
    font-size: 16px;
    @include to(768px) {
        font-size: 10px;
    }
    @include to(576px) {
        font-size: 8.5px;
    }
}
body {
    position: relative;
    margin: 0;
    min-width: 320px;
    line-height: 1.6em;
    font-family: $default-font;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #242333;
    font-size: 14px;
    color: #fff;
    background-size: contain;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: url('../images/bg.jpg') no-repeat center/cover;
    }
}

body input,
body textarea {
    border: #666 1px solid;
    outline: none;
}

img {
    width: 100%;
    display: block;
}

body *:focus {
    outline: none;
}

body.focus-tab--enable *:focus {
    outline-color: #4d90fe;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 7px;
}

button:hover,
a:hover,
select:hover {
    cursor: pointer;
}
